.loading-container {
    position: relative;
    display: flex;
    background-color: white;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    margin: 0;

    .loading {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        p {
            text-align: center;
        }
    }
}

.loading-container::after {
    content: '';
    float: left;
    padding-top: 56%;
}

.preview-container {
    display: block;
}

.black-block {
    position:absolute;
    left: 0;
    top: 0;
    width: 470px;
    height: 691px;
    background: rgba(0,0,0,0.8);
    z-index: 2;
}


.background-image-block {
    position:absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(8px);
}

.image-block {
    position:absolute;
    left: 310px;
    top: 65px;
    width: 750px;
    height: 560px;
    z-index: 3;
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.filter-block {

}

.text-block {
    position:absolute;
    left: 100px;
    top: 150px;
    z-index: 4;
    padding: 0;

    .text {
        font-size: 43px;
        line-height: 50px;
        max-height: 400px;
        width: 400px;
        overflow: hidden;
        color: #fff;
        font-family: FrankRuhlLibre-Medium;
        margin-bottom: 25px;
    }

    .text-decoration {
        width: 145px;
        border-bottom: solid;
        border-bottom-color: #ff0041;
        border-bottom-width: 7px;
    }
}

.date-block {
    position:absolute;
    right: 130px;
    top: 330px;
    width: 478;
    height: 691;
    background: #fff;
    z-index: 4;

    padding: 20px 30px;

    -webkit-box-shadow: 20px 20px 0px 0px rgba(255,0,64,1);
    -moz-box-shadow: 20px 20px 0px 0px rgba(255,0,64,1);
    box-shadow: 20px 20px 0px 0px rgba(255,0,64,1);
    font-size: 70px;
    line-height: 70px;
    color: #000;
    font-family: 'FrankRuhlLibre-Black';
}
