<div class="modal-header border-dark m-3 p-0 px-1 border-medium">
    <h4 class="modal-title text-uppercase">Change Password</h4>
    <button mat-icon-button type="button" class="p-0 m-0 close" aria-label="Close" (click)="onClose()" auto-test="closeChangePassword" [disabled]="isFormDisabled">
        <mat-icon aria-label="Close">close</mat-icon>
    </button>
</div>

<div class="modal-body px-4 pt-0">
    <form [formGroup]="changePasswordForm" (ngSubmit)="savePassword()" novalidate>
        <fieldset [disabled]="isFormDisabled">
            <div class="row">
                <div class="col-12 mb-2">
                    <mat-form-field class="w-100 required">
                        <input matInput placeholder="Old Password" [type]="showOldPassword ? 'text' : 'password'" formControlName="OldPassword">
                        <mat-icon class="help-icon" matSuffix (click)="showOldPassword = !showOldPassword">{{showOldPassword ? 'visibility_off' : 'visibility'}}</mat-icon>

                        <mat-error *ngIf="changePasswordForm.controls.OldPassword.hasError('required')">
                            {{oldPasswordRequiredMessage}}
                        </mat-error>
                        <mat-error *ngIf="changePasswordForm.controls.OldPassword.hasError('serverError') && !changePasswordForm.controls.OldPassword.hasError('required')">
                            {{changePasswordForm.controls.OldPassword.errors['serverError']}}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-12 mb-2">
                    <mat-form-field class="w-100 required">
                        <input matInput placeholder="New Password" [type]="showNewPassword ? 'text' : 'password'" formControlName="NewPassword">
                        <mat-icon class="help-icon" matSuffix (click)="showNewPassword = !showNewPassword">{{showNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                        <mat-hint>{{newPasswordHintMessage}}</mat-hint>
                        <mat-error *ngIf="changePasswordForm.controls.NewPassword.hasError('required')">
                            {{newPasswordRequiredMessage}}
                        </mat-error>
                        <mat-error *ngIf="changePasswordForm.controls.NewPassword.hasError('invalidPassword') && !changePasswordForm.controls.NewPassword.hasError('required')">
                            {{newPasswordHintMessage}}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-12 mb-2">
                    <mat-form-field class="w-100 required">
                        <input matInput placeholder="Confirm Password" [type]="showConfirmPassword ? 'text' : 'password'" formControlName="ConfirmPassword">
                        <mat-icon class="help-icon" matSuffix (click)="showConfirmPassword = !showConfirmPassword">{{showConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                        <mat-error *ngIf="changePasswordForm.controls.ConfirmPassword.hasError('required')">
                            {{confirmPasswordRequiredMessage}}
                        </mat-error>
                        <mat-error *ngIf="changePasswordForm.controls.ConfirmPassword.errors?.MatchPassword  && !changePasswordForm.controls.ConfirmPassword.hasError('required')">
                            {{matchPasswordMessage}}
                        </mat-error>
                    </mat-form-field>
                </div>
               
            </div>
            <div class="modal-footer border-0 d-flex justify-content-start pl-0">
                <button mat-raised-button color="primary" [disabled]="isFormDisabled" auto-test="changePassword" class="text-uppercase" type="submit"
                    value="Submit Form">Save</button>
            </div>
        </fieldset>
    </form>
</div>