<div class="col-md-12">
    <h4 class="d-inline-block text-uppercase theme b-b-4 pb-2 font-weight-bold"> Manage Video</h4>
  </div>
<div
    class="py-3"
    *ngIf="loading">
    <div class="card rounded-0">
        <div class="card-body loading">
            <div>
                <i class="fa fa-circle-o-notch fa-spin"></i>
            </div>
            <div> Loading...</div>
        </div>
    </div>
</div>
<div class="row mt-4 mb-1 mx-0" *ngIf="!loading">
    <div class="col-md-12 pl-1 text-uppercase">
        ORDER NUMBER: {{videoOrder.AditId}}
    </div>
</div>
<mat-divider></mat-divider>
<div class="row" *ngIf="!loading">
    <div class="col-12 col-md-12 mb-4 text-center">
        <div
            class="wating-video"
            *ngIf="
            !videoItem.WibbitzVideoFileShareLink
            && !videoItem.YoutubeLink
            && !videoOrder.IsVideoEditDeadLinePassed
            && !videoItem.IsVideoProcessingFailed
            ">
            Rendering video<br/>
            (You will receive an email when your video is ready)
        </div>
        <div
            class="wating-video"
            *ngIf="
            !videoOrder.IsVideoEditDeadLinePassed
            && videoItem.IsVideoProcessingFailed
            ">
            An error occurred while generating your video. <br/>
            We have notified support and they will resolve this issue.
        </div>
        <a
        *ngIf="(videoOrder.Status == null || (videoOrder.Status.Id != 3 && videoOrder.Status.Id != 5)) && videoItem.WibbitzVideoFileShareLink && videoItem.YoutubeLink"
            (click)="openShareModal(videoItem, videoOrder)">
            <i class="fa fa-film fa-5x" aria-hidden="true"></i>
        </a>
        <a
            href="javascript:;"
            (click)="playVideo(videoItem.WibbitzVideoFileShareLink)"
            *ngIf="(videoOrder.Status == null || (videoOrder.Status.Id != 3 && videoOrder.Status.Id != 5)) && videoItem.WibbitzVideoFileShareLink && !videoItem.YoutubeLink">
            <i class="fa fa-film fa-5x" aria-hidden="true"></i>
        </a>

        <div class="hideOnPrint"
            *ngIf="!videoOrder.IsVideoEditDeadLinePassed && videoOrder.AditId"
            [ngClass]="videoItem.WibbitzVideoFileShareLink ? 'mt-5' : 'mt-2'">
            <a
            mat-mini-fab color="primary"
            class="text-white"
            (click)="navigateToEditVideo();$event.stopPropagation()"
            target="_blank">
            <mat-icon class="align-middle ">edit</mat-icon>
            </a>

            <div class="text-center">
            <small>EDIT VIDEO</small>
            </div>
            <div class="text-center mt-5" *ngIf="(videoOrder.Status == null || (videoOrder.Status.Id != 3 && videoOrder.Status.Id != 5)) && videoItem.WibbitzVideoFileShareLink && videoItem.YoutubeLink">
            <mat-checkbox type="checkbox" [checked]="!videoItem.IsVisibleOnGallery" (change)="toggleVideoOnGallery($event.checked)">Make Video Unlisted</mat-checkbox>
            <a matTooltip="Unlisted videos can still be downloaded and shared but will not appear on the Los Angeles Times Video Tribute page." href="javascript:;" *ngIf="videoItem.VideoBU == 'lat'">
                <mat-icon>help</mat-icon>
            </a>
            <a matTooltip="Unlisted videos can still be downloaded and shared but will not appear on the San Diego Union-Tribune Video Tribute page." href="javascript:;" *ngIf="videoItem.VideoBU == 'sdt' && (videoItem.VideoGallery == null || videoItem.VideoGallery == 'SDT')">
                <mat-icon>help</mat-icon>
            </a>
            <a matTooltip="Unlisted videos can still be downloaded and shared but will not appear on the Union-Tribune Community Press Video Tribute page." href="javascript:;" *ngIf="videoItem.VideoGallery == 'SCP'">
                <mat-icon>help</mat-icon>
            </a>
            </div>
    </div>
    
</div>

