.--align-right {
    text-align: right;
}

.--red {
    color: #c62828;
}

.inline-button {
    text-decoration: underline;
    cursor: pointer;
    font-size: 0.9rem;
}

.move-up {
    transform: translateY(-1rem);
}
