<div class="loading-container" *ngIf="loading">
    <div class="loading">
        <mat-progress-spinner mode="indeterminate" [diameter]="30" class="align-middle d-inline-block"></mat-progress-spinner>
        <p>Creating preview</p>
    </div>
</div>

<div class="preview-container" [ngStyle]="{'display': !loading ? 'flex' : 'none'}" #previewContainer>
    <div class="preview-frame" [style.transform]="previewTransform" #source>
        <div class="red-block"></div>
        <div class="background-image-block"
            [ngStyle]="{'background-image': 'url(' + media1 + ')'}">
        </div>
        <div class="image-block-1"
            [ngStyle]="{'background-image': 'url(' + media1 + ')'}">
        </div>
        <div class="image-block-2"
            [ngStyle]="{'background-image': 'url(' + media2 + ')'}">
        </div>
        <div class="text-block-1">
            <div class="text" [ngStyle]="{'display': text1 ? 'block' : 'none'}" #description1Block>
                <div #description1BlockContent>{{text1}}</div>
            </div>
            <div class="text-decoration"></div>
        </div>
        <div class="text-block-2">
            <div class="text" [ngStyle]="{'display': text2 ? 'block' : 'none'}" #description2Block>
                <div #description2BlockContent>{{text2}}</div>
            </div>
            <div class="text-decoration"></div>
        </div>
    </div>
</div>
<p *ngIf="warning">{{warning}}</p>
