<div class="row">
    <div class="col-md-12">
        <h1>ADSS MARKET SETTINGS - {{environmentName}}</h1>
    </div>
</div>

<div *ngIf="!isDataReady; else dataReady">
    <mat-spinner></mat-spinner>
</div>

<ng-template #dataReady>

    <div *ngIf="displayError">
        <error-alert></error-alert>
    </div>

    <div class="row mb-3" *ngIf="!displayError">
        <div class="col-md-3">
            <button mat-raised-button color="primary" class="text-uppercase w-100" (click)="addMarket()">Add new market settings</button>
        </div>
        <div class="col-md-3" [hidden]="'true'">
            <button mat-raised-button color="accent" class="text-uppercase w-100">Clear all bu/Market Caches</button>
        </div>
    </div>

    <div class="row market-settings" *ngIf="!displayError">
        <div class="col-md-4 mb-3 text-center" *ngFor="let marketSetting of marketSettingsListData">
            <mat-card class="bg-light" (click)="editMarketSettings(marketSetting)">
                {{marketSetting.MarketName}}
                <button mat-icon-button class="clearcache-btn" (click)="showRemoveDataPopup(marketSetting);$event.stopPropagation()" title="Clear Cache">
                    <mat-icon>delete_sweep</mat-icon>
                </button>               
            </mat-card>
        </div>
    </div>

</ng-template>