
/* Credit card panel */
.creditcard-actionbtns button .mat-caption {
  margin-top: -7px;
}

.b-b-0 .mat-tab-header {
  border-bottom: none;
}

.creditcard-actionbtns .mat-icon-button {  
  width: 50px;
  height: auto;
  border-radius: 0px;
}
.creditcard-actionbtns .mat-icon-button .mat-button-ripple-round{
  display: none;
}

.add-card-btn{
  position: absolute;
  right: 22px;
  top: 11px;
}