<div class="modal-header border-dark m-3 p-0 px-1 border-medium">
  <h4 class="modal-title text-uppercase">Ad Creation Guidelines</h4>
  <button mat-icon-button type="button" class="p-0 m-0 close" aria-label="Close" auto-test="closeGuidelines" (click)="activeModal.close()">
    <mat-icon aria-label="Close">close</mat-icon>
  </button>
</div>
<div class="modal-body px-4 pt-0" id="UploadAdHelpPage">
  <div id="adss">
    <h1>Ad Creation Guidelines</h1>
    <h2>Layout Guidelines</h2>
    <ul>
      <li>Design digital pages to conform to the page area and page margin.</li>
      <li>If possible, make the dimensions of the file to be the actual size that it will be printed at, with no margins.</li>
      <li>Use the appropriate printing orientation(portrait or landscape) depending on the chosen advertisement dimensions.</li>
    </ul>

    <h2>Typography and Rules</h2>
    <p>
      To understand typographical requirements for a good quality print ad, please view our
      <a class="helpPageLink" title="Typography Guidelines" href="../../../../../../../wwwroot/assets/files/design-recommendations.pdf" target='_blank'>Typography Design Recommendations (pdf)</a>.
    </p>

    <h2>Color Space Requirements</h2>
    <ul>
      <li>Upload an ad created in CMYK color space for satisfactory image print quality.</li>
      <li>
        The difference between color images created in RGB color space and CMYK color space is shown below:
        <img src="../../../../../../../wwwroot/assets/img/rgb-cmyk.png" alt="" />
      </li>
      <li>
        How to create an ad in CMYK color space:
        <ul>
          <li>
            <strong>Illustrator</strong>: select 'Print' in the New Document Profile. This automatically sets the color space to
            CMYK.</li>
          <li>
            <strong>Photoshop</strong>: select 'Print' in the Preset dropdown.</li>
          <li>
            <strong>InDesign</strong>: select 'Print' in Intent dropdown. The document transparency blend space is set to CMYK.</li>
        </ul>
      </li>
    </ul>

    <h3>Color Graphics and Image Files</h3>
    <ul>
      <li>Halftone images should be 200 dpi and line art images should be 600-1200 dpi. Prepare color images as CMYK.</li>
    </ul>

    <h3>Digital Image Capture</h3>
    <ul>
      <li>Use a minimum input resolution of 200 pixels per inch (ppi) for continuous tone images scanned at their final image
        size.</li>
    </ul>

    <p>Note: Uploaded files which are not created in CMYK color mode will be automatically converted to CMYK color mode by the
      printing house and the newspaper agency is not liable for any color matching issues. Any files uploaded as CMYK will
      be printed the same.</p>
  </div>
</div>