<div class="modal-header border-dark m-3 p-0 px-1 border-medium">
  <h4 class="modal-title text-uppercase">Recommended Death Notice Formatting</h4>
  <button mat-icon-button type="button" class="p-0 m-0 close" aria-label="Close" auto-test="closeGuidelines" (click)="activeModal.close()">
    <mat-icon aria-label="Close">close</mat-icon>
  </button>
</div>
<div class="modal-body px-4 pt-0" id="UploadAdHelpPage">
  <div id="adss">
    <h2 class="text-center pb-3">Recommended Death Notice Formatting</h2>

    <h3><u>Information you may wish to include:</u></h3>
    <ul>
      <li>Photo (optional)</li>
      <li>Full name of person (including "nickname")</li>
      <li>Age of person at death</li>
      <li>Date and residence at death</li>
      <li>Date and place of birth</li>
      <li>Parents, spouses, children and grandchildren's names</li>
      <li>Previous residences
        <ul>
          <li>Ex: formerly of Flossmoor</li>
        </ul>
      </li>
      <li>Work history, military history, education</li>
      <li>Clubs, hobbies or interests, accomplishments, volunteer activities</li>
      <li>Survivors or those who predeceased the person including immediate family, relatives, close friends</li>
      <li>Emblems (optional) are a great way to honor those that served our country or police/fire department or that had a strong
        affiliation to a particular religion</li>
      <li>Funeral or memorial service information
        <ul>
          <li>Dates, times, locations, cemetery/place of burial location and contact information</li>
        </ul>
      </li>
      <li>Information on where memorial contributions or donations may be made
        <ul>
          <li>List full address and phone number if possible </li>
        </ul>
      </li>
    </ul>

    <h3><u>Formatting Guidelines:</u></h3>
    <ul>
      <li>Use only standard abbreviations (examples: UCLA, USC, BA)</li>
      <li>Do not write main text in all caps</li>
      <li>Capitalize
        <ul>
          <li>Proper Names – Ex: Miller Funeral Home</li>
          <li>Religions – Ex: Catholic, Jewish</li>
          <li>Titles: When referring to a specific person – Ex: Mayor Richard M. Daley</li>
          <li>Name of Individuals – Ex: John P. Smith</li>
          <li>Organizations, Associations, Businesses – Ex: Girl Scouts of America</li>
          <li>Formal, Named Mass Services</li>
        </ul>
      </li>
      <li>Commas
        <ul>
          <li>Use before and after the age of the deceased
            <ul>
              <li>Ex: John Smith, 88, of....</li>
            </ul>
          </li>
          <li>Use to separate date and time
            <ul>
              <li>Ex: Wednesday, 10 a.m. or Monday, Jan. 17, 10 a.m.</li>
            </ul>
          </li>
          <li>Use to separate survivors of the same relationship
            <ul>
              <li>Ex: brother of Ann, Carol and Pat</li>
            </ul>
          </li>
        </ul>
      </li>
      <li>Maiden Name
        <ul>
          <li>Use “nee" when referring to the deceased
            <ul>
              <li>Ex: Mary Thomas, nee Smith,</li>
            </ul>
          </li>
        </ul>
      </li>
      <li>Photos
        <ul>
          <li>Head shots are recommended</li>
          <li>Photos will only run in color when applicable</li>
        </ul>
      </li>
      <li>Quotations for Nicknames
        <ul>
          <li>Use quotations to indicate a nickname on a death notice
            <ul>
              <li>Ex: Marion "Marty" L. Benard</li>
            </ul>
          </li>
        </ul>
      </li>
      <li>Wording
        <ul>
          <li>Using the word "of":
            <ul>
              <li>Use the word "of" before the address or town when following the name of the deceased at the beginning of the
                notice.</li>
              <li>Ex: John P. Smith, 55, of Springfield</li>
            </ul>
          </li>
          <li>Using the word "at":
            <ul>
              <li>Use the word "at" when services are held where the deceased is resting.</li>
              <li>Ex: Services Sunday, 1:30 p.m. at Houser Family Funeral Home.</li>
            </ul>
          </li>
          <li>Using the word "from":
            <ul>
              <li>Use the word "from" when services are from the funeral home to the church.</li>
              <li>Ex: Funeral Tuesday, Jan. 25, from Houser Family Funeral Home, 10045 Main St., to Saint Joan of Arc Church...</li>
            </ul>
          </li>
          <li>Using the word "to":
            <ul>
              <li>Use the word "to" when referring to the start and end time of services.</li>
              <li>Ex: 3 to 9 p.m.</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    <h5><strong>Note: We will run your notice as submitted by the Funeral Home or family unless contacted by one of our representatives.
      Listings subject to editing for style and grammar.</strong></h5>
  </div>
</div>