<div class="loading-container" *ngIf="loading">
    <div class="loading">
        <mat-progress-spinner mode="indeterminate" [diameter]="30" class="align-middle d-inline-block"></mat-progress-spinner>
        <p>Creating preview</p>
    </div>
</div>

<div class="preview-container" [ngStyle]="{'display': !loading ? 'flex' : 'none'}" #previewContainer>
    <div class="preview-frame" [style.transform]="previewTransform" #source>
        <div class="black-block"
            [ngStyle]="{'background-image': 'url(' + media + ')'}">
        </div>
        <div class="black-block-filter"></div>
        <div class="background-image-block"
            [ngStyle]="{'background-image': 'url(' + media + ')'}">
        </div>
        <div class="text-block">
            <div class="text" [ngStyle]="{'display': description ? 'block' : 'none'}" #descriptionBlock>
                <div #descriptionBlockContent>{{description}}</div>
            </div>
            </div>
    </div>
</div>
<p *ngIf="warning">{{warning}}</p>
