<form [formGroup]="accountInformationForm">

  <div class="row">
    <div class="col-12 col-xl-6 mb-2">
      ACCOUNT HOLDER
    </div>
    <div class="d-none d-xl-block col-xl-6 mb-2">
      CONTACT INFORMATION
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 col-xl-6">
      <mat-form-field class="w-100 required mb-2">
        <input matInput placeholder="First Name" type="text" formControlName="firstName">
        <mat-error *ngIf="accountInformationForm.controls.firstName.hasError('required')">
          {{firstNameRequiredMessage}}
        </mat-error>
        <mat-error *ngIf="accountInformationForm.controls.firstName.hasError('maxlength') && !accountInformationForm.controls.firstName.hasError('required')">
          {{firstNameMaxLengthMessage}}
        </mat-error>
        <mat-error *ngIf="accountInformationForm.controls.firstName.hasError('invalidCharacterString') && !accountInformationForm.controls.firstName.hasError('maxlength') && !accountInformationForm.controls.firstName.hasError('required')">
          {{invalidFirstNameMessage}}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-100 required mb-2">
        <input matInput placeholder="Last Name" type="text" formControlName="lastName">
        <mat-error *ngIf="accountInformationForm.controls.lastName.hasError('required')">
          {{lastNameRequiredMessage}}
        </mat-error>
        <mat-error *ngIf="accountInformationForm.controls.lastName.hasError('maxlength') && !accountInformationForm.controls.lastName.hasError('required')">
          {{lastNameMaxLengthMessage}}
        </mat-error>
        <mat-error *ngIf="accountInformationForm.controls.lastName.hasError('invalidCharacterString') && !accountInformationForm.controls.lastName.hasError('maxlength') && !accountInformationForm.controls.lastName.hasError('required')">
          {{invalidLastNameMessage}}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="w-100 mb-2">
        <input [matAutocomplete]="auto"  #trigger="matAutocompleteTrigger" matInput type="text" placeholder="Search address via google, type min 4 characters.." (keyup)="findGooglePlace($event, trigger)" />
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectingPlace($event)" [displayWith]="getPlaceTextById.bind(this)">
          <mat-option *ngFor="let place of googlePlaces" [value]="place.place_id"><span>{{ place.description }}</span></mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field class="w-100 required mb-2">
        <input matInput placeholder="Street Address" type="text" formControlName="streetAddress">
        <mat-error *ngIf="accountInformationForm.controls.streetAddress.hasError('required')">
            {{streetAddressRequiredMeesage}}
          </mat-error>
        <mat-error *ngIf="accountInformationForm.controls.streetAddress.hasError('maxlength') && !accountInformationForm.controls.streetAddress.hasError('required')">
            {{addressMaxLengthMessage}}
          </mat-error>
      </mat-form-field>

      <mat-form-field class="w-100 required mb-2">
        <input matInput placeholder="City" type="text" formControlName="city">
        <mat-error *ngIf="accountInformationForm.controls.city.hasError('required')">
          {{ cityRequiredMessage }}
        </mat-error>
        <mat-error *ngIf="accountInformationForm.controls.city.hasError('maxlength') && !accountInformationForm.controls.city.hasError('required')">
          {{ cityMaxLengthMessage }}
        </mat-error>
        <mat-error *ngIf="accountInformationForm.controls.city.hasError('invalidCharacterString') && !accountInformationForm.controls.city.hasError('maxlength') && !accountInformationForm.controls.city.hasError('required')">
          {{ invalidCityMessage }}
        </mat-error>
      </mat-form-field>

      <div class="row">
        <div class="col-12 col-md-6 mb-2 custom-select-box-wrapper">
          <small class="state">State</small>
          <small class="state required-color">*</small>
          <select placeholder="State" formControlName="state" class="custom-select-box rounded-0 form-control required">
              <option value="" disabled>SELECT</option>
            <option *ngFor="let state of states" [value]="state.Key">{{ state.Value }}</option>
          </select>
          <div *ngIf="accountInformationForm.controls.state.touched && accountInformationForm.controls.state.hasError('required')">
            <small class="required-color">{{stateRequiredMessage}}</small>
          </div>
        </div>
        <div class="col-12 col-md-6 pt-md-3">
          <mat-form-field class="w-100 required">
            <input matInput placeholder="Zip Code" type="text" formControlName="zipCode">
            <mat-error *ngIf="accountInformationForm.controls.zipCode.hasError('required')">
              {{zipCodeRequiredMessage}}
            </mat-error>
            <mat-error *ngIf="accountInformationForm.controls.zipCode.hasError('invalidZipcode') && !accountInformationForm.controls.zipCode.hasError('required')">
              {{zipCodeInvalidMessage}}
            </mat-error>
          </mat-form-field>

        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-xl-6">
      <div class="col-12 d-xl-none mb-2 pl-0">
        CONTACT INFORMATION
      </div>

      <mat-form-field class="w-100 required mb-2">
        <input matInput placeholder="Email Address" type="text" formControlName="emailAddress">
        <mat-error *ngIf="accountInformationForm.controls.emailAddress.hasError('required')">
          {{emailRequiredMessage}}
        </mat-error>
        <mat-error *ngIf="accountInformationForm.controls.emailAddress.hasError('invalidEmail') && !accountInformationForm.controls.emailAddress.hasError('required')">
          {{emailInvalidMessage}}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-100 required mb-2">
        <input matInput placeholder="Confirm Email Address" type="text" formControlName="confirmEmailAddress">
        <mat-error *ngIf="accountInformationForm.controls.confirmEmailAddress.errors?.MatchEmail  && !accountInformationForm.controls.confirmEmailAddress.hasError('required')">
          {{emailUnmatchedMessage}}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="w-100 required mb-2">
        <input matInput placeholder="Contact Phone Number" type="tel" formControlName="phoneNumber" maxlength='{{phoneNumberMaxLength}}'>
        <mat-error *ngIf="accountInformationForm.controls.phoneNumber.hasError('required')">
          {{phoneNumberRequiredMessage}}
        </mat-error>
        <mat-error *ngIf="(accountInformationForm.controls.phoneNumber.hasError('maxlength') || accountInformationForm.controls.phoneNumber.hasError('minlength')) && !accountInformationForm.controls.phoneNumber.hasError('required')">
          {{phoneNumberInvalidMessage}}
        </mat-error>
      </mat-form-field>
    </div>
  </div>


  <div *ngIf="userAccountDetails?.IsBusinessUser" class="row">
    <div class="col-12 col-xl-6 mt-md-3">
      <mat-form-field class="w-100 mb-2 required">
        <input matInput placeholder="Business Name" type="text" formControlName="businessName">
        <mat-error *ngIf="accountInformationForm.controls.businessName.hasError('required')">
          {{businessNameRequiredMessage}}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-12 col-xl-6 custom-select-box-wrapper">
      <small>Business Type</small>
      <small class="required-color">*</small>
      <select placeholder="Business Type" formControlName="businessType" class="custom-select-box mb-2 rounded-0 form-control">
        <option *ngFor="let businessType of businessTypes" [value]="businessType.SubcategoryCode">{{ businessType.SubcategoryName }}</option>
      </select>
      <div *ngIf="accountInformationForm.controls.businessType.touched && accountInformationForm.controls.businessType.hasError('required')">
        <small>{{businessTypeRequiredMessage}}</small>
      </div>
    </div>
  </div>

  <div *ngIf="userAccountDetails?.IsAdvertiser" class="row">
    <div class="col-12 col-xl-6 custom-select-box-wrapper">
      <small>Sold To Account</small>
      <small class="required-color">*</small>
      <select placeholder="Sold To Account" formControlName="soldToAccount" class="custom-select-box mb-2 rounded-0 form-control">
        <option *ngFor="let customer of userAccountDetails.SoldToCustmers" [value]="customer.CustomerID">{{ customer.CustomerName }}</option>
      </select>
    </div>
  </div>
</form>